.container {
  display:grid;
  place-items: center;
}

  body {
        font-family: sans-serif;
        font-size: small;
        font-weight: bold;
      }

figure.image {
  width:70%;
}

img {
  width: 100%;
}
