.container {
  display:grid;
  place-items: center;
}

  body {
        font-family: sans-serif;
        font-size: small;
        font-weight: bold;
      }
body {
  list-style-type: none;
  float: left
  width: 5em;
  text-align: center;
  margin-left: -2.5em;
  margin-right: 2px;
}

figure.image {
  width:70%;
}

img {
  width: 100%;
}
